a{
    text-decoration: none;
    color: black;
}
.card img {
    width: 280px;
    height: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);

}

.card {
    background-color: white;
    margin: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    max-width: 280px;

}

.card div {
    text-align: left;
    padding: 20px 20px 30px 20px;
}

.card>div>p:not(.name) {
    font-size: 0.8em;
    margin-bottom: 5px;
}

.card>div>p>span {
    font-weight: bold;
    
}

.name {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.map{
    border:0;
}

/* Dark mode */

.dark .card {
    background-color: rgb(43, 55, 67);
    color: white;
    

}
.dark .card div{
    color:white;
}

@media (max-width:1025px){
    .card {
        margin: 30px;
    }
}