.cardsContainer{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    background-color:  rgb(250, 250, 250);
    min-height: 100vh;
    
}
.cardsContainer>div:last-child{
    display: flex;
    flex-wrap: wrap;
}

/* Dark Mode */

.dark .cardsContainer{
    background-color: rgb(32, 45, 54);
}
