.cardsContainer{
    background-color: red;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    
}
.cardsContainer .card img{
    width: 280px;
    height: 180px;

}
.cardsContainer .card{
    background-color: aqua;

    margin:30px;
    
}