div.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.search .searchbar{
    width: 400px;
    height: 40px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 0 0 0 50px ;
    
    
    
}
.search .input-container{
    position: relative;
}
.search .input-container::before{
    content: "";
    background-image: url('./media/magnifying-glass-svgrepo-com.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    display:inline-block;
    width: 25px;
    height: 24px;
    top:50%;
    transform: translateY(-50%);
    left: 12px;
    opacity: 30%;
    
    
   
}
.search .searchbar:hover{
    border: none;

}
.search .searchbar:focus{
    border:none;
    box-shadow: none;
}

.search .region-filter{
    width: 170px;
    height: 40px;
    border: none;

    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    padding: 0 0 0 20px ;
    border-radius: 0;
}
.search .region-filter::after{
    border-radius: 0;
    background-color: red;
    overflow: ;
}
