.top-component{
  display: flex;
  justify-content: space-between;
  padding: 20px 80px  ;
  align-items: center;
  
}
.top-component>p{
  font-weight: bold;
  font-size: 1.5em;
}

.DarkMode_Button{
  background-color: rgba(255, 255, 255,0.0);
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.DarkMode_Button .dark{
  display: none;
}

.DarkMode_Button p{
  margin-left: 10px;
}

/* Dark Mode */
.dark .top-component{
  background-color: rgb(43, 55, 67);
}
.dark .top-component>p{
  color: white;
}
.dark .DarkMode_Button{
  color: white;
}
.dark .DarkMode_Button .dark{
  display: inline-block;
}
.dark .DarkMode_Button .white{
  display: none;
}

